<body>
    <div >
        <section id="container">
            <!-- <p>portfolio works!</p> -->
            <div class="topbar">
                Nishil Shah | Nasticeye
            </div>
            <div class="description">
                Working to make a Change.
                <span>This Digital Way!</span>
            </div>
            <div class="myPhoto">
                <img src="../assets/img/nishil.jpg" alt="">
            </div>
        </section>
        <section class="navigation-bar">
            <app-top-nav-bar></app-top-nav-bar>
        </section>
        <section  class="secondSec">
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis architecto mollitia fugit vel voluptatem cum, explicabo sint nihil blanditiis molestiae.</p>
            </div>
        </section>
    </div>
</body>
