body{
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(188, 223, 253);
}

app-top-nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar{
    margin-top: auto;
    margin-bottom: 20px;
}